streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
plotly==5.22.0
joblib==1.4.2
pyarrow==16.1.0
openpyxl==3.1.2
matplotlib==3.8.4

# models you included
xgboost==2.0.3       # for xgb_* models
catboost==1.2.5      # for cat_* models

# optional but useful
shap==0.45.1

